@model CapstoneProject_Autolavaggi.Models.AutolavaggioViewModel

@{
    ViewData["Title"] = "Crea Autolavaggio";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="CreaAutolavaggio" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Autolavaggio.Nome" class="control-label"></label>
        <input asp-for="Autolavaggio.Nome" class="form-control" />
        <span asp-validation-for="Autolavaggio.Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.Via" class="control-label"></label>
        <input asp-for="Autolavaggio.Via" class="form-control" />
        <span asp-validation-for="Autolavaggio.Via" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.Città" class="control-label"></label>
        <input asp-for="Autolavaggio.Città" class="form-control" />
        <span asp-validation-for="Autolavaggio.Città" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.CAP" class="control-label"></label>
        <input asp-for="Autolavaggio.CAP" class="form-control" />
        <span asp-validation-for="Autolavaggio.CAP" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="GoogleMapsUrl">URL di Google Maps embed (facoltativo)</label>
        <input type="url" class="form-control" id="GoogleMapsUrl" name="GoogleMapsUrl" value="@Model.Autolavaggio.GoogleMapsUrl" />
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.Telefono" class="control-label"></label>
        <input asp-for="Autolavaggio.Telefono" class="form-control" />
        <span asp-validation-for="Autolavaggio.Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.TipoNome" class="control-label">Tipo di autolavaggio</label>
        <select asp-for="Autolavaggio.TipoNome" class="form-control" asp-items="@(new SelectList(Model.Tipi, "Nome", "Nome"))">
            <option value="">Seleziona un tipo</option>
        </select>
        <span asp-validation-for="Autolavaggio.TipoNome" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Autolavaggio.Descrizione" class="control-label"></label>
        <textarea asp-for="Autolavaggio.Descrizione" class="form-control"></textarea>
        <span asp-validation-for="Autolavaggio.Descrizione" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.Immagine" class="control-label"></label>
        <input asp-for="Autolavaggio.Immagine" class="form-control" />
        <span asp-validation-for="Autolavaggio.Immagine" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autolavaggio.OrariDescrizione" class="control-label">Orari </label>
        <textarea asp-for="Autolavaggio.OrariDescrizione" class="form-control"></textarea>
        <span asp-validation-for="Autolavaggio.OrariDescrizione" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Servizi (Seleziona fino a 5 servizi)</label>

        @for (int i = 0; i < 5; i++)
        {
            <div class="form-group">
                <label for="SelectedServizi[@i]"></label>
               <select id="SelectedServizi[@i]" name="SelectedServizi[@i]" class="form-control">
                    <option value="">Seleziona un servizio</option>
                    @foreach (var servizio in Model.Servizi)
                    {
                        <option value="@servizio.Id">@servizio.Nome</option>
                    }
                </select>
            </div>
        }

        <span asp-validation-for="SelectedServizi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Salva" class="btn bg-blue text-white mt-3" />
    </div>
</form>


