@model AutolavaggiFilterViewModel

@{
    ViewData["Title"] = "Tutti gli Autolavaggi";
}

<div class="container my-5">

    <form method="get" action="@Url.Action("GetAllAutolavaggi")" class="mb-5">
        <div>
            <div class="bg-allAutol d-flex justify-content-center align-items-center min-vh-80">
                <div class="col-md-8 col-lg-10 my-4 border border-3 border-primary rounded p-4 bg-white">
                    <label for="CittàFiltro" class="form-label fs-1 fw-bold blue font">Trova l'autolavaggio più vicino a te!!</label>
                    <p class="blue fw-bold">Inserisci la tua città:</p>
                    <input type="text" id="CittàFiltro" name="cittàFiltro" class="form-control mt-3" placeholder="Inserisci la città" value="@Model.CittàFiltro" />
                </div>
            </div>

            
            <h4 class="mt-4 fw-bold blue">ALTRI FILTRI:</h4>
            <div class="mb-4 col-6" >
                <label for="TipoFiltro" class="form-label fs-5 mt-2 fw-bold">TIPO DI AUTOLAVAGGIO</label>
                <select id="TipoFiltro" name="tipoFiltro" class="form-select">
                    <option value="">Seleziona tipo di autolavaggio</option>
                    @foreach (var tipo in Model.Tipi)
                    {
                        <option value="@tipo.Nome">@tipo.Nome</option>
                    }
                </select>
            </div>

            <div class="mb-4 col-6">
                <label for="ServiziFiltro" class="form-label fs-5 fw-bold">SERVIZI OFFERTI</label>
                <select id="ServiziFiltro" name="serviziFiltro" class="form-select" multiple>
                    @foreach (var servizio in Model.Servizi)
                    {
                        <option value="@servizio.Id">@servizio.Nome</option>
                    }
                </select>
            </div>
        </div>
        <div><button type="submit" class="btn bg-blue text-white">Filtra risultati</button></div>
        
    </form>
    <hr />
    <h2>Risultati della ricerca :</h2>
    <div class="row">
        @if (Model.Autolavaggi != null && Model.Autolavaggi.Any())
        {
            @foreach (var autolavaggio in Model.Autolavaggi)
            {
                <div class="col-md-4 my-4">
                    <div class="card">
                        @if (!string.IsNullOrEmpty(autolavaggio.Immagine))
                        {
                            <img src="@autolavaggio.Immagine" class="card-img-top" alt="Immagine di @autolavaggio.Nome" style="width: auto; height: 300px; object-fit: cover;" />
                        }
                        else
                        {
                            <img src="https://via.placeholder.com/350x300" class="card-img-top" alt="Immagine di @autolavaggio.Nome" style="width: auto; height: 300px; object-fit: cover;" />
                        }
                        <div class="card-body bg-secondary bg-opacity-50 rounded-3">
                            <h5 class="card-title my-3 font text-primary">@autolavaggio.Nome</h5>
                            <h6>Via @autolavaggio.Via / @autolavaggio.Città / @autolavaggio.CAP</h6>
                            <a href="@Url.Action("DettagliAutolavaggio", "Autolavaggio", new { id = autolavaggio.Id })" class="btn bg-blue text-white mt-3">Dettagli</a>

                            @if (User.IsInRole("Amministratore"))
                            {
                                <a href="@Url.Action("ModificaAutolavaggio", "Autolavaggio", new { id = autolavaggio.Id })" class="btn btn-warning mt-3">Modifica</a>
                                <form action="@Url.Action("EliminaAutolavaggio", "Autolavaggio")" method="post" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@autolavaggio.Id" />
                                    <button type="submit" class="btn btn-danger mt-3">Elimina</button>
                                </form>

                            }
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    Nessun autolavaggio trovato con i criteri di ricerca specificati.
                </div>
            </div>
        }
    </div>
</div>

