@model AutolavaggiFilterViewModel

@{
    ViewData["Title"] = "Tutti gli Autolavaggi";
}

<h1>@ViewData["Title"]</h1>

<form method="get" action="@Url.Action("GetAllAutolavaggi")">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="TipoFiltro">Tipo di Autolavaggio</label>
            <select id="TipoFiltro" name="tipoFiltro" class="form-control">
                <option value="">Seleziona tipo di autolavaggio</option>
                @foreach (var tipo in Model.Tipi)
                {
                    <option value="@tipo.Nome" >@tipo.Nome</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="ServiziFiltro">Servizi Offerti</label>
            <select id="ServiziFiltro" name="serviziFiltro" class="form-control" >
                <option value="">Seleziona tipo di servizio desiderato</option>
                @foreach (var servizio in Model.Servizi)
                {
                    <option value="@servizio.Id" >@servizio.Nome</option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Filtra</button>
</form>

<div class="container">
    <div class="row">
        @if (Model.Autolavaggi != null && Model.Autolavaggi.Any())
        {
            @foreach (var autolavaggio in Model.Autolavaggi)
            {
                <div class="col-md-4 mb-4">
                    <a href="@Url.Action("DettagliAutolavaggio", "Autolavaggio", new { id = autolavaggio.Id })" class="text-decoration-none">
                        <div class="card">
                            @if (!string.IsNullOrEmpty(autolavaggio.Immagine))
                            {
                                <img src="@autolavaggio.Immagine" class="card-img-top" alt="Immagine di @autolavaggio.Nome" />
                            }
                            else
                            {
                                <img src="https://via.placeholder.com/60" class="card-img-top" alt="Immagine di @autolavaggio.Nome" />
                            }
                            <div class="card-body">
                                <h5 class="card-title text-dark">@autolavaggio.Nome</h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>Nessun autolavaggio trovato con i criteri di ricerca specificati.</p>
        }
    </div>
</div>
